.bg-pink {
    background-color: #ffe3e8;
}

.bg-purple {
    background-color: #f4cbfc;
}

.text-purple {
    color: #44254b;
}


/* fuentes */

@font-face {
    font-family: 'fuente-kiut';
    src: url('./assets/fonts/josephsophia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fuente-kiut {
    font-family: 'fuente-kiut';
}


/* ropa */

.container {
    display: center;
}

.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


/* peluches */

.container {
    display: center;
}

.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


/* accesorios */

.container {
    display: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* agujas */

.container {
    display: center;
}



/* lanas-hilos */
.container {
    display: center;
}